<div class="well col-md-offset-4 col-md-4">
  <%= form_tag signin_path do |f| %>
  <h1>Sign into spinDub</h1>

  <% if @sign_in_error %>
  <div class="text-danger">
    <%= @sign_in_error %>
  </div>
  <% end %>

  <%= label_tag :email %>
  <%= email_field_tag :email, nil, class: "form-control" %>

  <%= label_tag :password %>
  <%= password_field_tag :password, nil,  class: "form-control" %>
  <br>
  <%= submit_tag "Sign In", class: "btn btn-primary"%>
  <% end %>
</div>
