<!DOCTYPE html>
<html>
  <head>
    <title>spinDub</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <%= link_to "spinDub", root_path, class: "navbar-brand" %>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
              <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %></li>
              <li><%= link_to "Sign Out", signout_path %></li>
              <% else %>
              <li><%= link_to "Sign In", signin_path %></li>
              <li><%= link_to "Sign Up", signup_path %></li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <% if notice %>
        <p id="notice" class="alert alert-success text-center">
          <%= notice %>
        </p>
      <% end %>

      <% if alert %>
        <p id="alert" class="alert alert-danger text-center">
          <%= alert %>
        </p>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="container navbar-fixed-bottom">
      <footer>
        <%= link_to_unless_current("flies", user_flies_path(current_user) ) %> |
        <%= link_to_unless_current("users", users_path ) %>
      </footer>
    </div>
  </body>
</html>
